/* body {
    font-family: 'Arial', sans-serif; /*Шрифт для всего документа
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Высота на весь экран */
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center; /* Центрирует по вертикали */
  background-color: #f8f9fa; /* Можно изменить цвет фона */
}

.container {
    text-align: center;
    padding-top: 20px;
}



#count {
    font-size: 72px;
    color: #333;
    font-weight: bold;
    position: relative;
    top: -50px;
}

#clickBtn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    font-size: 32px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.1s ease;  
}

#clickBtn:hover {
    background-color: #218838;
}

#clickBtn:active {
    transform: scale(0.95);
}
